<h2>Feedback</h2>

<p>If you have any feedback, suggestions, or successful stories, just <a href="mailto:felix.wang@thomsonreuters.com?subject=Book!t-FEEDBACK">drop an email</a>.</p>
<p style="font-weight:bold">Together we can make Book!t even better.</p>

<div id="testimony">
<h3>Successful Stories:</h3>
<p>"This is absolutely COOL!"</p><p>-Yuting Li</p>
<p>"It’s Awesome and Pretty Cool !
I love the Meeting Room’s Ranking, especially the Dijkstra's algorithm..."</p><p>-Neil Sun</p>
<p>"That’s very useful, I have booked the rooms for two session successfully using this tools."</p><p>-Chunhui Wei</p>
<p>"I just book one meeting room with it, cool"</p><p>-Ying Zhang</p>
<p>"...you have all my support as it is absolutely a great site!! :)"</p><p>-Long Min</p>

<p>...and more.</p>
</div>