<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BookitDb" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=BookitDb" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
