@model Bookit.Domain.OneClickSearchDetail
<h3>No meeting room is available in next @Model.AvailableTolerenceThreshold minutes</h3>
<h3>Suggestions:</h3>
<p>• Try to increase search range</p>
<p>• Try mini-rooms at 3rd floor</p>